<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Additional Courses</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers$">
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.address }}</td>
            <td>{{ customer.gender }}</td>
            <td>{{ customer.addcourses}}</td>
        </tr>
    </tbody>
</table>