<div class="container">
<h1>MEVN</h1>
<p>MEVN is again a web stack just like MERN and MEAN though it is relatively new as the front-end technology used in it
    which is Vue.JS. That is the only difference in MEAN, MERN, MEVN that the front-end technology used in each of these
    stacks is different.
</p>
<p>In MEVN, we use Vue.JS another open-source framework for building user interfaces. Vue is fast, easy to learn but as
    it is newer the community support is relatively less which is one downside of VueJS.
</p>
<h3>Advantages of VueJS</h3>
<ol>
    <li>The biggest advantage of MEVN is that javascript is used on all levels of development from client-side to server-side
        which simplifies the process and makes development faster and efficient.
        </li>
        <li>It is platform-independent.</li>
        <li>MVC architecture in the back-end organizes the server-side and hence back-end development becomes faster and more
            efficient.</li>
            <li>Vue.JS is faster and easy to learn.</li>
</ol>
<h3>Disadvantages of VueJS</h3>
<ol>
    <li>Vue.JS is a new framework hence it doesn't have the support of a large community. It is still growing.</li>
    <li>Lack of plugins as Vue is still not as big as Angular or React.</li>
</ol>
</div>




