<div class="container">
    <h2>Welcome to Live Virtual Classes</h2>
    <p>Virtual live classes are online learning events where students and teachers meet in a live virtual meeting room
        to
        communicate with voice, video, whiteboard, and other tools12345. Virtual live classes are interactive and
        synchronous, meaning that they require students and teachers to be online at the same time and to participate
        actively in the session234. Virtual live classes can be used for lectures, discussions, exercises, and office
        hours
    </p>
    <h3>Courses offered</h3>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="../../assets/images/MERN_full_500px.png">
                <h4>MERN Stack</h4>
                <p>MERN Stack is a Javascript Stack that is used for easier and faster deployment of full-stack web
                    applications. MERN Stack comprises of 4 technologies namely: MongoDB, Express, React and Node.js. It
                    is designed to make the development process smoother and easier.</p>
            </div>
            <div class="col-md-4">
                <img src="../../assets/images/mean.png">
                <h4>MEAN Stack</h4>
                <p>MEAN Stack is one of the most popular Technology Stack. It is used to develop a Full Stack Web
                    Application. Although it is a Stack of different technologies, all of these are based on JavaScript
                    language.</p>
            </div>
            <div class="col-md-4">
                <img src="../../assets/images/mevn-stack-development-company-1.png">
                <h4>MEVN Stack</h4>
                <p>MEVN is again a web stack just like MERN and MEAN though it is relatively new as the front-end
                    technology used in it which is Vue.JS. That is the only difference in MEAN, MERN, MEVN that the
                    front-end technology used in each of these stacks is different.</p>
            </div>
        </div>
    </div>
</div>